@import "tailwindcss";

/* main classes from ui  */
.sidebar::-webkit-scrollbar {
    display: none;
}

.ant-layout-sider {
    -ms-overflow-style: none;
    /* IE, Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* utility: hide scrollbar while allowing scroll */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

/* changes from 01-09-2025 */

.dots {
    display: flex;
}

.dots div {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 0 3px;
    background-color: #3686FF;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    to {
        opacity: 0.2;
        transform: translateY(-10px);
    }
}

.dots div:nth-child(2) {
    animation-delay: 0.3s;
}

.dots div:nth-child(3) {
    animation-delay: 0.6s;
}


/* ----------------------- resubale css 19-08-2025 ------------------------ */



.table_header {
    @apply grid grid-cols-[1fr_1.2fr_1.2fr_1.2fr_2fr_1fr_0.5fr] gap-4 px-4 py-6 bg-white border border-[#ccc] text-xs uppercase text-black font-semibold rounded-t-lg
}

.table_header::-webkit-scrollbar {
    display: none;
}

.table_rows {
    @apply bg-white divide-gray-200 flex flex-col gap-y-3 rounded-b-lg overflow-auto
}

.table_items {
    @apply relative grid grid-cols-[1fr_1.2fr_1.2fr_1.2fr_2fr_1fr_0.5fr] gap-4 px-4 py-4 bg-white text-black text-sm hover:bg-[#e9e9e9] border-b last:border-b-0 first:border-t-0 transition-all
}

.action_btn {
    @apply text-white bg-[#3686FF] px-6 py-1 rounded-full font-medium
}

.action_popup {
    @apply absolute right-0 top-full mt-2 z-50 bg-white text-black flex flex-col gap-y-2 border border-[#ccc] rounded shadow-lg w-48 px-2 py-3 text-sm
}

.action_popup_btns {
    @apply flex items-center justify-between hover:bg-[#d7d7d7] p-1 rounded cursor-pointer
}

/* // open , pending , close  buttons */
.status-open {
    @apply bg-green-500 text-black border border-green-500 rounded-full;
}

.status-pending {
    @apply bg-yellow-500 text-black border border-yellow-500 rounded-full;
}

.status-close {
    @apply bg-red-500 text-black border border-red-500;
}